html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #000a2a;
  background: -moz-linear-gradient(-45deg, #64002c 0%, #480949 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #64002c 0%,#480949 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #64002c 0%,#480949 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.wrapper {
  max-width: 990px;
  position: relative;
  margin: auto;
}

header  {
  /*background: #000a2a;*/
  color: white;
  padding: 40px 20px 60px;
}

header h1 {
  font-weight: 200;
  font-size: 2.4em;
  margin-top: 1.8em;
}

header p {
  font-weight: 300;
  padding: 5px 0 25px;
}

header a.cta {
  color: white;
  background-color: #ff9d00;
  text-decoration: none;
  font-size: 0.9em;
  padding: 12px 20px;
}

header a.cta:hover {
  background-color: #e88109;
}

header img.logo {
  width: 120px;
}

header .social {
  position: absolute;
  right: 0;
  top: 0;
  width: 150px;
}

header .social .icon {
  margin: 5px;
  opacity: .2;
}

header .social .icon:hover {
  opacity: .8;
}

header .social .icon img {
  width: 22px;
  filter: invert(100%);
    -webkit-filter: invert(100%);
}
