html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  /*
  background: -moz-linear-gradient(-45deg, #64002c 0%, #230949 100%);
  background: -webkit-linear-gradient(-45deg, #64002c 0%,#230949 100%);
  background: linear-gradient(135deg, #64002c 0%,#230949 100%);
  */
}

h2 {
  font-size: 1.7em;
  font-weight: 700;
}


.wrapper {
  max-width: 990px;
  position: relative;
  margin: auto;
  z-index: 1;
}

header  {
  /*background: #000a2a;*/
  color: white;
  padding: 0px 20px;
  position: relative;
  z-index: 2;
  /* background: #030116; */
  background: #171520;
}

header .wrapper {
  padding: 60px 0px 150px 0px;
}

header .header-content {
  width: calc(100% - 480px);
}

header h1 {
  font-weight: 700;
  font-size: 1.9em;
  margin-top: 120px;
}

header p {
  font-weight: 300;
  padding: 5px 0 25px;
}

header a.cta {
  display: inline-block;
  margin: 10px;
  color: white;
  text-decoration: none;
  font-size: 0.9em;
  padding: 18px 35px;
  font-size: 0.7em;
  font-weight: 700;
  text-transform: uppercase;
}
header a.cta-web {
  background-color: #1b31ab;
  margin-left: 0;
}
header a.cta-web:hover {
  background-color: #2a44d3;
}
header a.cta-download {
  background-color: #e4004f;
}
header a.cta-download:hover {
  background-color: #ff1e6c;
}

header img.logo {
  width: 115px;
}

header img.phone {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 320px;
}

header .social {
  position: absolute;
  right: 0;
  top: 60px;
  width: 150px;
  text-align: right;
}

header .social .icon {
  margin: 5px;
  opacity: .2;
}

header .social .icon:hover {
  opacity: .8;
}

header .social .icon img {
  width: 22px;
  filter: invert(100%);
    -webkit-filter: invert(100%);
}

#particles-js {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

section {
  padding: 50px 20px;
}

.features {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;
}

.feature {
  width: 18%;
  padding: 2%;
  box-shadow: 0 0 30px rgba(0,0,0,.1);
  border-radius: 5px;
}

.feature:hover {
  box-shadow: 0 10px 45px rgba(0,0,0,.15);
}

.feature h3 {
  margin: 10px 0;
}

.feature p {
  font-weight: 300;
  font-size: .8em;
}

.feature img {
  width: auto;
  height: 30px;
  margin: 10px 0;
}

.examples {
}

.examples li {
  font-weight: 400;
}

.examples a {
  color: #2b7bb9;
  text-decoration: none;
}

.examples a:hover {
  color: #3b94d9;
}

.examples .more {
  font-size: 0.8em;
}

.twitter-timeline {
  box-shadow: 0 0 40px rgba(0,0,0,.1);
}

.footer p {
  font-size: 0.8em;
  font-weight: 300;
  color: #888;
}

.screenshot {
  display: flex;
  margin: 50px 0;
  align-content: flex-start;
  align-items: center;
}

.screenshot .description {
  width: 35%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  align-content: center;
  align-items: center;
  padding: 0 40px;
}

.screenshot h1, .server h1 {
  font-weight: 300;
}

.screenshot img {
  width: 65%;
  height: auto;
  box-shadow: 0 0 40px rgba(0,0,0,.15);
  border-radius: 5px; 
}

.server {
  width: 430px;
  margin: auto;
  text-align: center;
  border-radius: 5px;
  padding: 20px 35px;
  border: 1px solid #e4e4e4;
  background: #eaeaea;
}

@media only screen and (max-width: 860px) {
	header .header-content {
    width: 100%;
  }
  header .phone {
    display: none;
  }
  .feature {
    width: 90%;
    padding: 5%;
    margin-bottom: 20px; 
  }
  .screenshot {
    display: block;
    border-top: 1px solid #ddd;
    padding-top: 50px;
  }
  .screenshot img {
    width: 100%;
  }
  .screenshot .description {
    width: 100%;
    display: block;
    padding: 0;
    text-align: left;
  }
  .server {
    width: 90%;
    padding: 5%;
  }
}
